<ion-view >
    <div class="card z-depth-5">
        <div class="card-header bgm-orange">
            <h2>About Us</h2>
    	</div>
    	<div class="card-body card-padding">
            <div class="media">
                <div class="pull-right">
                    <a href="#">
                        <img src="assets/media/gallery/thumbs/5.jpg" alt="" />
                    </a>
                </div>
                <div class="media-body">                 
                    <h4 class="media-heading">{{title}}</h4>
                    <div ng-bind-html="description">
                </div>
            </div><br/>
        </div>
    </div>
</ion-view>