<ion-view >
    <div class="container">
        <div class="block-header">
            <h2>
                About us
                <small>Dubai, United Arab Emirates</small>
            </h2>
        </div>
        <div id="profile-main" class="card">
            <div class="pm-overview c-overflow" style="overflow: hidden;" tabindex="5">
                <div class="pmo-pic" >
                    <div class="p-relative">
                        <a href="">                            
                            <!-- <img class="img-responsive" alt="" src="assets/media/gallery/thumbs/logo.jpg"> -->
                            <img class="img-responsive" alt="" src="img/logo.jpg">
                        </a>
                    </div>
                </div>
                <div class="pmo-block pmo-contact hidden-xs" style="background-color:">
                    <h2>Contact</h2>
                    <ul>
                        <li>
                            <i class="md md-phone"></i>
                            00954 12345678 90
                        </li>
                        <li>
                            <i class="md md-email"></i>
                            ezhil@gmail.com
                        </li>
                        <li>
                            <i class="socicon socicon-skype"></i>
                            branbox.hotel
                        </li>
                        <li>
                            <i class="socicon socicon-twitter"></i>
                            @branbox (twitter.com/branbox)
                        </li>
                        <li>
                            <i class="md md-location-on"></i>
                            <address class="m-b-0">
                                Dubai trun street,
                                <br>
                                Dubai Main Road, Dubai,
                                <br>
                                United Arab Emirates
                            </address>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pm-body clearfix">
                <ul class="tab-nav tn-justified" style="overflow: hidden;" tabindex="1">
                    <li class="waves-effect active">
                        <a href="#aboutUs">About</a>
                    </li>                   
                    <li class="waves-effect">
                        <a href="#aboutGallery">Photos</a>
                    </li>                   
                </ul>
                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2>
                            <i class="md md-equalizer m-r-5"></i>
                            Summary
                        </h2> 
                    </div>
                </div>
                <div class="pmbb-body p-l-30">
                    <div class="pmbb-view">                        
                        content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox.  content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox.
                    </div><br>  
                    <div class="pmbb-view">                        
                        content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox.  content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox content for text about Branbox.
                    </div>                            
            </div>            
        </div>
    </div>
</ion-view>