<ion-view>
    <div class="card" ng-controller="AddToCartController">
        <div class="card-body card-padding">
            <div class="card-header jumbotron">
                <h2>Restaurant Menus<small>Select Menu Categories</small></h2>
                <p></p>
                <div id="top-search-wrap">
                    <input type="text">
                </div>
                <div class="chat-search">
                    <div class="fg-line">
                        <input type="search" class="form-control" ng-model="Menus"   placeholder="Search Menu ">
                    </div>
                </div>
            </div>
          
           
            
        </div>
    </div>
    
</ion-view>
