<style>
#location {
    height: 200px;
    width: auto;
}

    
</style>

<ion-view>
<div class="card"> 
<div class="bs-item z-depth-4">
        <div id="location"> </div>
    </div>
</div>

<div class="card">
        <div class="card-body card-padding">
            <form role="form">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="text" class="input-sm form-control fg-input">
                    </div>
                    <label class="fg-label">Input Small</label>
                </div>                
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="text" class="input-sm form-control fg-input">
                    </div>
                    <label class="fg-label">Input Small</label>
                </div>
                <button type="submit" class="btn btn-primary btn-sm m-t-10">Submit</button>
            </form>
        </div>
    </div>
</ion-view>
