<style>
#location {
    height: 200px;
    width: auto;
}

    
</style>

<ion-view>
<div class="card bs-item z-depth-4"> 
    <div class="contacts clearfix row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card-header">
                <div id="location"> </div>  
                <div class="card-body ">
                   <div class="row ">
                        <div class="col-md-6 col-sm-6 col-xs-5"> <h5>Pravinkumar, </h5><h5>Pondicherry</h5></div>
                        <div class="col-md-6 col-sm-6 col-xs-7"> <h5><i class="md md-quick-contacts-mail"></i> pravinkumar@appnlogic.com</h5> <h5><i class="md md-quick-contacts-dialer"></i> 9791557237.</h5></div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>




<div class="card">
        <div class="card-body card-padding">
            <form role="form">
                <div class="row">
                    <div class="col-sm-12">                       
                        <div class="input-group">
                            <span class="input-group-addon"><i class="md md-person"></i></span>
                            <div class="fg-line">
                                <input type="text" placeholder="Full Name" class="form-control">
                            </div>
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="md md-email"></i></span>
                            <div class="fg-line">
                                <input type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="md md-comment"></i></span>
                            <div class="fg-line">
                                <textarea placeholder="Comments...." rows="5" class="form-control"></textarea>
                            </div>
                        </div><br>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm m-t-10">Submit</button>
            </form>
        </div>
    </div>
</ion-view>
