<ion-view>
<script>
    $(document).ready(function(){
        $('.lightbox').lightGallery({
            enableTouch: true
        });
    });
    
</script>
        
        <div class="card">
            <div class="card-body card-padding">
                <p class="f-500 c-black m-b-20">Images</p>
                <div class="lightbox row">
                    <div ng-repeat="item in galleryImages" data-src="{{item.link}}" class="col-sm-2 col-xs-6" on-finish-render="test">
                        <div class="lightbox-item">
                            <img src="{{item.link}}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-sm-6 m-b-20">
                         <video style="height: 100%; width: 100%" poster="assets/media/big_buck_bunny.jpg" controls="controls" preload="none"> <!-- id could be any according to you -->
                            <source type="video/mp4" src="assets/media/big_buck_bunny.mp4" />   
                        </video>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    
</ion-view>
