<ion-view>
    <div class="card">
        <div class="card-body card-padding">
        
        <div class="media-demo">
                                <div class="media">
                                    <div class="pull-left">
                                        <a href="#">
                                            <img alt="" src="img/profile-pics/1.jpg" class="media-object">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Media heading</h4>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="pull-left">
                                        <a href="#">
                                            <img alt="" src="img/profile-pics/2.jpg" class="media-object">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Media heading</h4>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                        <div class="media">
                                            <div class="pull-left">
                                                <a href="#">
                                                    <img alt="" src="img/profile-pics/3.jpg" class="media-object">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Nested media heading</h4>
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="pull-right">
                                        <a href="#">
                                            <img alt="" src="img/profile-pics/6.jpg" class="media-object">
                                        </a>
                                    </div>
                                    
                                    <div class="media-body">
                                        <h4 class="media-heading">Media heading</h4>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="pull-left">
                                        <a href="#">
                                            <img alt="" src="img/profile-pics/4.jpg" class="media-object">
                                        </a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#">
                                            <img alt="" src="img/profile-pics/5.jpg" class="media-object">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Media heading</h4>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                    </div>
                                    
                                </div>
                            </div>

        </div>
    </div>

    <div class="card">
                                <div class="card-header">
                                    <h2>Rotating Entrances <small>Click on the buttons below to start the animation</small></h2>
                                </div>
                                
                                <div class="card-body card-padding">
                                    <img alt="" src="img/headers/sm/8.png" class="animated">
                                        
                                    <div class="row animation-demo">
                                        <div class="col-xs-6">
                                            <button class="btn bgm-cyan waves-effect">rotateIn</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn bgm-cyan waves-effect">rotateInDownLeft</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn bgm-cyan waves-effect">rotateInDownRight</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn bgm-cyan waves-effect">rotateInUpLeft</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn bgm-cyan waves-effect">rotateInUpRight</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
</div>
