<ion-view>
    <div class="block-header">
        <img class="img-responsive img-circle" id="circle" src="img/logo.jpg">        
    </div>
    <div class="bs-item z-depth-5" ng-controller="authentication">
        <div class="card">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            <div class="card-body card-padding">
                <form name="form"  role="form">
                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input class="form-control fg-input" type="email" name="email" id="email">
                        </div>
                        <label class="fg-label">Email</label>
                    </div>
                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input class="form-control fg-input" type="password" id="password" name="password">
                        </div>
                        <label class="fg-label">Password</label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                            Don't forget to check me out
                        </label>
                    </div>
                    <button type="submit" ng-click="loginAuthentication();" class="btn btn-primary btn-sm waves-effect">Sign In</button>
                    <a href="#register" type="submit" class="btn btn-primary btn-sm">Register</a>
                </form>
            </div>
        </div>
    </div>
    <style>
        .img-responsive 
        {
            margin: 0 auto;
        }
    </style>
</ion view>
    