<ion-view>
    <div class="card ">
        <div class="card-body card-padding">
            <div class="card-header jumbotron">
                <h2>Restaurant Menus<small>Select Menu Categories</small></h2>
                <p></p>
                <div id="top-search-wrap">
                    <input type="text">
                </div>
                <div class="chat-search">
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Search Menu ">
                    </div>
                </div>
            </div>
          
            <div class="listview ">
                <a href="" class="lv-item">
                    <div class="media">
                        <div class="pull-left p-relative">
                            <img alt="" src="img/soup1.jpg" class="lv-img-sm">
                        </div>
                        <div class="media-body">
                            <div class="lv-title"id="menu-size">Starters</div>
                            <small class="lv-small">Starters Categories</small>
                        </div>
                        <div class="p-relative pull-right">
                            <i class="md-chevron-right md-lg"></i>
                        </div>
                    </div>
                </a>
                <a href="#subMenu" class="lv-item">
                    <div class="media">
                        <div class="pull-left p-relative">
                            <img alt="" src="img/br2.jpg"class="lv-img-sm">
                        </div>
                        <div class="media-body">
                            <div class="lv-title"id="menu-size">Foods</div>
                            <small class="lv-small">Food Categories</small>
                        </div>
                         <div class="p-relative pull-right">
                            <i class="md-chevron-right md-lg"></i>
                        </div>
                    </div>
                </a>
                
                <a href="#subMenu" class="lv-item">
                    <div class="media">
                        <div class="pull-left p-relative">
                            <img alt="" src="img/dessert-1.jpg" class="lv-img-sm">
                        </div>
                        <div class="media-body">
                            <div class="lv-title"id="menu-size">Ice Cream</div>
                            <small class="lv-small">Ice Cream Categories</small>
                        </div>
                         <div class="p-relative pull-right">
                            <i class="md-chevron-right md-lg"></i>
                        </div>
                    </div>
                </a>
                
                <a href="#subMenu" class="lv-item">
                    <div class="media">
                        <div class="pull-left p-relative">
                            <img alt="" src="img/drinks-32a.jpg" class="lv-img-sm">
                        </div>
                        <div class="media-body">
                            <div class="lv-title"id="menu-size">Drinks</div>
                            <small class="lv-small">Drinks Categories</small>
                        </div>
                         <div class="p-relative pull-right">
                            <i class="md-chevron-right md-lg"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
</ion-view>
