<ion-view>
    <div class="card">
        <div class="card-body card-padding">
             <div class="card-header jumbotron">
                <h2>Sub Menu<small>Select Sub Menu Categories</small></h2>
                <p></p>
                <div id="top-search-wrap">
                    <input type="text">
                </div>
                <div class="chat-search">
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Search Sub Menu">
                    </div>
                </div>
            </div>
          

            <!-- <div class="chat-search">
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Search Sub Menu">
                </div>
            </div> -->
            <div class="listview">
                <a href="#items" class="lv-item">
                    <div class="media">
                        <div class="pull-left p-relative">
                            <img alt="" src="img/soup2.jpg" class="lv-img-sm">
                        </div>
                        <div class="media-body">
                            <div class="lv-title" id="menu-size">Soups</div>
                            <small class="lv-small">Starters Categories</small>
                        </div>
                         <div class="p-relative pull-right">
                            <i class="md-chevron-right md-lg"></i>
                        </div>
                    </div>
                </a>
                <a href="#items" class="lv-item">
                    <div class="media">
                        <div class="pull-left p-relative">
                            <img alt="" src="img/bri3.jpg"class="lv-img-sm">
                        </div>
                        <div class="media-body">
                            <div class="lv-title" id="menu-size">Briyani</div>
                            <small class="lv-small">Food Categories</small>
                        </div>
                         <div class="p-relative pull-right">
                            <i class="md-chevron-right md-lg"></i>
                        </div>
                    </div>
                </a>
                
                <a href="#items" class="lv-item">
                    <div class="media">
                        <div class="pull-left p-relative">
                            <img alt="" src="img/milsh.jpg" class="lv-img-sm">
                        </div>
                        <div class="media-body">
                            <div class="lv-title"id="menu-size">Milk Shake</div>
                            <small class="lv-small">Ice Cream Categories</small>
                        </div>
                         <div class="p-relative pull-right">
                            <i class="md-chevron-right md-lg"></i>
                        </div>
                    </div>
                </a>
                
                <a href="#items" class="lv-item">
                    <div class="media">
                        <div class="pull-left p-relative">
                            <img alt="" src="img/coldrin.jpg" class="lv-img-sm">
                        </div>
                        <div class="media-body">
                            <div class="lv-title"id="menu-size">Cool Drings</div>
                            <small class="lv-small">Drinks Categories</small>
                        </div>
                         <div class="p-relative pull-right">
                            <i class="md-chevron-right md-lg"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
</ion-view>
